[Unit]
Description=Run TimeTree to Google Calendar sync before Alexa routines

[Timer]
OnCalendar=*-*-* 07:35:00
OnCalendar=*-*-* 20:35:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
